.form-control {
  background-position: right center 5px;
}

.icon {
  background: url("../assets/icon_magnify.svg") no-repeat right;
  background-size: 20px;
  background-color: white;
  width: 550px;
}

.responsive-margin {
  position: relative;
  left: 30px;
}

.navbar {
  min-height: 70px;
}

.editButt {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.label {
  color: white;
  font-family: Arial;
  background-color: #f3f3f3;
  color: grey;
  font-size: 10px;
  width: 80px;
  text-align: center;
}

.value {
  font-family: Arial;
  color: grey;
  font-size: 10px;
  text-align: center;
}


  .centered-element {
    display: flex;
    align-items: center;
    justify-content: center;
  }


button {

  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.scroll-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
}

.show-scroll {
  opacity: 1;
}

.my_class1{
  background-color: #f3f3f3;
  color: black;
  font-variant-numeric: oldstyle-nums;
}

.my_class2{
  background-color: white;
  color: black;
}