<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <img src="../assets/logo.svg" style="height: 45px" />
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="search responsive-margin">
          <input [(ngModel)]="term"  type="text" name="search" class="icon" placeholder="Search a movie ..." />
        </div>
          <div class="navbar-nav ms-auto">
            <img src="../assets/flag_fr.svg" style="height: 10px ; margin-left: 10px;" />
            <img src="../assets/flag_usa.svg" style="height: 10px;  margin-left: 10px;" />
          </div>
      </div>
  </div>
</nav>


<div>
  <section class="bg-light pt-2">
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let film of dataList |slice:startIndex:endIndex | filter: term let index = index; " class="col-lg-4 mb-3 align-items-stretch">
          <div class="card">
            <div class="card-body d-flex flex-column pt-0 pb-0">
              <div class="row">
                <div class="col-sm-10">
                  <div class="d-flex bd-highlight">
                    <div class="bd-highlight">
                      <div class="card-title"><strong>{{film.primaryTitle}}</strong></div>
                    </div>
                    <div class="ms-auto bd-highlight">
                      <button class="editButt" (click)="openDialog(index)">
                        <img src="../../assets/icon_pencil.svg" />
                      </button>
                    </div>
                  </div>
                  <div class="card-subtitle" style="font-size: 8px">
                    original title: {{film.originalTitle}}
                  </div>
                  <div class="card-body d-flex flex-column pb-0">
                    <div class="d-flex justify-content-between flex-wrap">
                      <div class="d-flex flex-column bd-highlight mb-2">
                        <div class="label bd-highlight" i18n="@@Id">ID</div>
                        <div class="value bd-highlight">{{film.tconst}}</div>
                      </div>

                      <div class="d-flex flex-column bd-highlight mb-2">
                        <div class="label bd-highlight" i18n="@@Minutes">Minutes</div>
                        <div class="value bd-highlight">{{film.runtimeMinutes}}</div>
                      </div>

                      <div class="d-flex flex-column bd-highlight mb-2">
                        <div class="label bd-highlight" i18n="@@startYear">Start year</div>
                        <div class="value bd-highlight">{{film.startYear}}</div>
                      </div>

                      <div class="d-flex flex-column bd-highlight mb-2">
                        <div class="label bd-highlight" i18n="@@EndYear">End year</div>
                        <div *ngIf="film.endYear.includes('\N')" class="value bd-highlight">-</div>
                        <div *ngIf="!film.endYear.includes('\N')" class="value bd-highlight">{{film.endYear}}</div>
                      </div>

                      <div class="d-flex flex-column bd-highlight mb-2">
                        <div class="label bd-highlight" i18n="@@IsAdult">Is adult</div>
                        <div *ngIf="film.isAdult== '1'" class="value bd-highlight">YES</div>
                        <div *ngIf="film.isAdult== '0'" class="value bd-highlight">NO</div>
                      </div>

                      <div class="d-flex flex-column bd-highlight mb-2">
                        <div class="label bd-highlight" i18n="@@Genre">Genre</div>
                        <div class="value bd-highlight">{{film.genres}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2" style="background-color: #f3f3f3">
                  <img
                    src="../../assets/icon_poster.svg"
                    class="card-img-top h-100"
                    alt="..."
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button [ngClass]="{'show-scroll': showScroll}" (click)="scrollToTop()" class="scroll-to-top">
        <img
        src="../../assets/arrow_up.svg"
        class="card-img-top h-100"
        alt="..."
      />
      </button>
    </div>
  </section>
<footer class="text-center text-lg-start bg-white text-muted">
  <div class="text-center" style="background-color:#F3F3F3;">
     <div *ngIf="dataList.length!=0" class="centered-element">
    <ul class="pagination">
      <li class="page-item"  *ngFor="let i of this.paginationArray let n = index">
        <a class="page-link"  [ngClass]="{'my_class1': i == this.currentIndexValue,  'my_class2' : i != this.currentIndexValue }" (click)="getDataWithPageNumber(i)" >{{i}}</a>
        </li>
        <li class="page-item"><a class="page-link" style="color: black" (click)="GetNextPagination()" href="#">...</a></li>
      <li class="page-item"><a class="page-link" style="color: black" (click)="nextIndex(dataList.length)" href="#">></a></li>
    </ul>
  </div>
  </div>
</footer>
</div>
