.okButton {
    color: white;
    font-family: Arial;
    background-color: #494848;
    font-size: 10px;
    width: 120px;
    text-align: center;
    border-color: transparent;
  }

  .cancelButton {
    font-family: Arial;
    background-color: #9b9b9b;
    color: white;
    font-size: 10px;
    width: 120px;
    text-align: center;
    border-color: transparent;
  }

  .textPopUp {
    font-size: 14px;
    font-family: "Gill Sans", sans-serif;
  }

  .editing{
    font-family: 'Regular';
    font-size: 16px;
    font-weight:bold ;
  }

  .close-button{
    float: right;
    top:-24px;
    right:-24px;
    background-color: white;
  }
  