<div class="container-fluid">
  <button mat-icon-button class="close-button" (click)="close()">
    <mat-icon class="close-icon" i18n>close</mat-icon>
  </button>
  <form [formGroup]="filmForm">
    <div class="form-group row pb-3">
      <h3 class="d-flex justify-content-evenly editing" i18n>Editing</h3>
    </div>
    <div class="form-group row pt-2">
      <label
        for="colFormLabelSm"
        class="col-sm-4 col-form-label col-form-label-sm textPopUp"
        >Is adult</label
      >
      <div class="col-sm-8">
        <div class="d-flex justify-content-evenly">
          <div>
            <input
              formControlName="isAdult"
              type="radio"
              id="Choice1"

              value="1"
            />
            <label for="Choice1" style="margin-left: 5px" i18n>YES</label>
          </div>

          <div>
            <input
            formControlName="isAdult"
              type="radio"
              id="Choice2"

              value="0"
            />
            <label for="Choice2" style="margin-left: 5px" i18n>No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row pt-2">
      <label i18n
        for="colFormLabelSm"
        class="col-sm-4 col-form-label col-form-label-sm textPopUp"
        >Minutes</label
      >
      <div class="col-sm-8">
        <input
          type="text"
          formControlName="runtimeMinutes"
          class="form-control form-control-sm"
          id="colFormLabelSm"
        />
      </div>
    </div>
    <div class="form-group row pt-2">
      <label i18n
        for="colFormLabelSm"
        class="col-sm-4 col-form-label col-form-label-sm textPopUp"
        >Start year</label
      >
      <div class="col-sm-8">
        <input
          type="text"
          formControlName="startYear"
          class="form-control form-control-sm"
          id="colFormLabelSm"
        />
      </div>
    </div>
    <div class="form-group row pt-2">
      <label i18n
        for="colFormLabelSm"
        class="col-sm-4 col-form-label col-form-label-sm textPopUp"
        >End year</label
      >
      <div class="col-sm-8">
        <input
          type="text"
          formControlName="endYear"
          class="form-control form-control-sm"
          id="colFormLabelSm"
        />
      </div>
    </div>
    <div class="form-group row pt-2">
      <label i18n
        for="colFormLabelSm"
        class="col-sm-4 col-form-label col-form-label-sm textPopUp"
        >Genres</label
      >
      <div class="col-sm-8">
       <select  formControlName="genres" multiple class="chosen-select" name="genres">
    <option value="Documentary" i18n="@@Documentary">Documentary</option>
    <option value="Short" i18n="@@Short">Short</option>
    <option value="Sport" i18n="@@Sport">Sport</option>
    <option value="Comedy" i18n="@@Comedy">Comedy</option>
    <option value="Drama" i18n="@@Drama">Drama</option>
    <option value="Fantasy" i18n="@@Fantasy">Fantasy</option>
  </select>
      </div>
    </div>
    <div class="form-group row pt-5">
      <div class="d-flex justify-content-evenly">
        <button class="okButton" (click)="update()" i18n="@@Ok">OK</button>
        <button class="cancelButton" (click)="close()" i18n="@@Cancel">Cancel</button>
      </div>
    </div>
  </form>
</div>
